/.vscode
/App$1.class
/App$Axes.class
/App$ClickCalculate.class
/App$ParametersQuadratic.class
/App$Plot.class
/App$ZoomHandler.class
/App.class
/Calculation.class
/Graph$1.class
/Graph$Axes.class
/Graph$Plot.class
/Graph$ZoomHandler.class
/Graph.class
/Graph.java
/todo